# --- PYTHON STANDARD ---
__pycache__/
*.py[cod]
*$py.class
*.log
.ipynb_checkpoints/

# --- VIRTUAL ENV (WAJIB IGNORE) ---
.venv/
env/
venv/

# --- IDE SETTINGS ---
.vscode/
.idea/
.DS_Store

# --- DATASETS ---
# Kita HANYA ignore folder raw (sumber mentah)
datasets/raw/

# Folder datasets/bottle_cap (hasil olahan) BOLEH di-upload
!datasets/bottle_cap/

# --- MODEL ARTIFACTS (BERAT!) ---
# Jangan upload model hasil training ke Github (Limit github cuma 100MB)
*.pt
*.onnx
*.xml
*.bin
*.tflite
models/
weights/

# --- EXPERIMENT LOGS (SAMPAH) ---
# Folder ini digenerate otomatis oleh Ultralytics & WandB
runs/
wandb/
eval/
.ipynb_checkpoints/
*.ipynb_checkpoints

# --- DISTRIBUTION & BUILD ---
dist/
build/
*.egg-info/

# --- TESTING ---
.pytest_cache/
.coverage
htmlcov/