# .gitignore

# Python (File sampah cache)
__pycache__/
*.py[cod]
*$py.class
*.log

# Virtual Env (JANGAN UPLOAD folder ini, isinya bergiga-giga)
.venv/
env/
venv/

# --- POETRY ---
# poetry.lock  <-- SAYA HAPUS DARI SINI. INI WAJIB DI-UPLOAD.

# IDE Settings
.vscode/
.idea/
.DS_Store

# Project Specific (File Besar/Dataset - JANGAN UPLOAD)
datasets/
runs/
*.pt
*.onnx
dist/

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/