[project]
name = "ada-mata-mle"
version = "0.1.0"
description = ""
authors = [
    {name = "wikan1602",email = "wikanpriambudi@gmail.com"}
]
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "ultralytics (>=8.3.230,<9.0.0)",
    "wandb (>=0.23.0,<0.24.0)",
    "typer (>=0.20.0,<0.21.0)"
]

[tool.poetry]
packages = [{include = "ada_mata_mle", from = "src"}]

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"

[dependency-groups]
dev = [
    "pytest (>=9.0.1,<10.0.0)",
    "pylint (>=4.0.3,<5.0.0)",
    "black (>=25.11.0,<26.0.0)",
    "isort (>=7.0.0,<8.0.0)",
    "jupyter (>=1.1.1,<2.0.0)"
]

[tool.poetry.scripts]
bsort = "ada_mata_mle.main:app"

[tool.poetry.dependencies]
python = "^3.11"
opencv-python-headless = "*"
typer = "*"
pyyaml = "*"
ultralytics = "*" # Biarkan ultralytics cari versi terbaik
wandb = "*"       # <--- GANTI JADI BINTANG (*) BIAR GAK ERROR

# --- BAGIAN PENTING AGAR DOCKER GAK PENUH (CPU ONLY) ---
torch = { version = ">=2.0.0", source = "pytorch-cpu" }
torchvision = { version = ">=0.15.0", source = "pytorch-cpu" }